<h2>User Details Page</h2>
<pre>
===========================================
email: <%= @user.email %>
username: <%= @user.username %>
created_at: <%= @user.created_at %>
updated_at: <%= @user.updated_at %>
===========================================
</pre>

<ul>
  <li><%= link_to 'Root', root_path %></li>
  <li><%= link_to 'Admin Panel', admin_root_path %></li>
  <li><%= link_to 'Log Out', logout_path %></li>
</ul>
