<h1>Create User</h1>

<%= form_with url: admin_users_path, model: @user do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.text_field :password %><br>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :group %>
    <%= select(:user, :user_group_id, UserGroup.all.collect { |p| [ p.group, p.id ] }) %>
    <% @user.errors.full_messages_for(:user_group).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br />

  <div>
    <%= form.submit %>
  </div>
<% end %>
